.profile-container {
    width: 50%;
    min-height: 100vh;
    border: 1px solid;
}

.profile {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    align-items: center !important;
    flex-grow: 1;
    cursor: pointer;
}